.layout {
  background: var(--app-background);

  --sidebar-with: 260px;
  display: grid;
  grid-template-columns: var(--sidebar-with) minmax(0, 1fr) 370px;
  transition: grid-template-columns 0.3s ease;
  grid-template-rows: 70px auto minmax(0, 1fr);

  grid-template-areas:
    "sidebar header  header"
    "sidebar nav     nav"
    "sidebar content right";
  height: 100vh;
  overflow: hidden;
}



.layout.sidebarclose {
  grid-template-columns: 30px 1fr 420px;
}

.layout.sidebarclose .sidebar {
  transform: translateX(-12px);
  opacity: 0;
  pointer-events: none;
}